{% extends 'base.html.twig' %}

{% block title %}New Breed{% endblock %}

{% block body %}
    <h1>Create new Breed</h1>

    {{ include('world_of_ponies/breed/_form.html.twig') }}

    <a href="{{ path('world_of_ponies_breed_index') }}">back to list</a>
{% endblock %}
