{% extends 'base.html.twig' %}

{% block title %}New ItemFamily{% endblock %}

{% block body %}
    <h1>Create new ItemFamily</h1>

    {{ include('item_family/_form.html.twig') }}

    <a href="{{ path('item_family_index') }}">back to list</a>
{% endblock %}
