{% extends 'base.html.twig' %}

{% block title %}New Horse{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SPECIALIST')) %}

        <h1>Create new Horse</h1>

        {{ include('world_of_ponies/horse/_form.html.twig') }}

        <a href="{{ path('world_of_ponies_horse_index') }}">back to list</a>
    {% endif %}
{% endblock %}
