{% extends 'base.html.twig' %}

{% block title %}Edit User Global Privileges{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USERADMIN') %}
        <h1>Edit User Global Privileges</h1>

        {{ include('mysql/user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}">back to list</a>

        {{ include('mysql/user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
