{% extends 'base.html.twig' %}

{% block title %}Edit EquestrianCenter{% endblock %}

{% block body %}
    <h1>Edit EquestrianCenter</h1>

    {{ include('equestrian_center/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('equestrian_center_index') }}">back to list</a>

    {{ include('equestrian_center/_delete_form.html.twig') }}
{% endblock %}
