{% extends 'base.html.twig' %}

{% block title %}Edit Player{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPERUSER')) %}
        <h1>Edit Player</h1>

        {{ include('world_of_ponies/player/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('world_of_ponies_player_index') }}">back to list</a>

        {{ include('world_of_ponies/player/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
