{% extends 'base.html.twig' %}

{% block title %}New Player{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_ADMIN')) %}
        <h1>Create new Player</h1>

        {{ include('world_of_ponies/player/_form.html.twig') }}

        <a href="{{ path('world_of_ponies_player_index') }}">back to list</a>
    {% endif %}
{% endblock %}
