{% extends 'base.html.twig' %}

{% block title %}New ItemFamily{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') %}
        <h1>Create new ItemFamily</h1>

        {{ include('world_of_ponies/item_family/_form.html.twig') }}

        <a href="{{ path('world_of_ponies_item_family_index') }}">back to list</a>
    {% endif %}
{% endblock %}
