{% extends 'base.html.twig' %}

{% block title %}New Advertisement{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SUPERUSER')) %}
        <h1>Create new Advertisement</h1>

        {{ include('world_of_ponies/advertisement/_form.html.twig') }}

        <a href="{{ path('world_of_ponies_advertisement_index') }}">back to list</a>
    {% endif %}
{% endblock %}
