<form method="post" action="{{ path('automatic_task_delete', {'taskId': automatic_task.taskId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ automatic_task.taskId) }}">
    <button class="btn">Delete</button>
</form>
