<form method="post" action="{{ path('world_of_ponies_equestrian_center_delete', {'equestrianCenterId': equestrian_center.equestrianCenterId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equestrian_center.equestrianCenterId) }}">
    <button class="btn">Delete</button>
</form>
