{% extends 'base.html.twig' %}

{% block title %}New AutomaticTask{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_PROGRAMMER') or is_granted('ROLE_SUPERUSER')) %}
        <h1>Create new AutomaticTask</h1>

        {{ include('world_of_ponies/automatic_task/_form.html.twig') }}

        <a href="{{ path('world_of_ponies_automatic_task_index') }}">back to list</a>
    {% endif %}
{% endblock %}
