{% extends 'base.html.twig' %}

{% block title %}New AutomaticTask{% endblock %}

{% block body %}
    <h1>Create new AutomaticTask</h1>

    {{ include('world_of_ponies_automatic_task/_form.html.twig') }}

    <a href="{{ path('world_of_ponies_automatic_task_index') }}">back to list</a>
{% endblock %}
