{% extends 'base.html.twig' %}

{% block title %}New HorseClub{% endblock %}

{% block body %}
    <h1>Create new HorseClub</h1>

    {{ include('world_of_ponies_horse_club/_form.html.twig') }}

    <a href="{{ path('world_of_ponies_horse_club_index') }}">back to list</a>
{% endblock %}
