<form method="post" action="{{ path('mysql_db_delete', {'host': db.host}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ db.host) }}">
    <button class="btn">Delete</button>
</form>
