{% extends 'base.html.twig' %}

{% block title %}New TablesPriv{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USERADMIN') %}
        <h1>Create new TablesPriv</h1>

        {{ include('mysql_tables_priv/_form.html.twig') }}

        <a href="{{ path('mysql_tables_priv_index') }}">back to list</a>
    {% endif %}
{% endblock %}
