{% extends 'base.html.twig' %}

{% block title %}New ColumnsPriv{% endblock %}

{% block body %}
    <h1>Create new ColumnsPriv</h1>

    {{ include('mysql/columns_priv/_form.html.twig') }}

    <a href="{{ path('mysql_columns_priv_index') }}">back to list</a>
{% endblock %}
